#Environment variables (you will NOT run up my api bill)
.env
*.env

# Python (I guess)
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Node (THIS IS VERY IMPORTANT, YOUR COMMITS WILL TAKE EONS IF YOU DO NOT IGNORE THIS)
node_modules/
dist/
.next/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/